# OCaml
_build/
*.byte
*.native
*.cmo
*.cmi
*.cma
*.cmx
*.cmxa
*.cmxs
*.o
*.a
*.annot

# Dune
_opam/

# Editor
.vscode/*
!.vscode/settings.json
*.swp
*.swo
*~
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
